.btn-icon {
   height: 70px;
   width: 350;
   border-radius: 10px 0 0 10px;
   text-transform: uppercase;
}

.btn-icon-content{
   width: 70px;
   background: #33569b;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0px 10px 10px 0px;
   color: #FFF;
}